<form method="POST" action="/articles/<%= @article.id %>">
<input type="hidden" name="_method" value="patch">

  <label for="name"> New Title</label>
  <input id="title" type="text" name="article[title]" value="<%= @article.title %>" />

  <label for="breed"> Content</label>
  <textarea type="text" id="content" name="article[content]" value="<%= @article.content%>" >
  </textarea>
  
  <input type="submit" value="submit">
</form>